/* HEADER */

.header-bg {
        background-image: url('../../assets/img/bg/header_bg_1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
    position: relative;

}

.prices-bg {
        background-image: 
            linear-gradient(rgba(17, 19, 25, 0.6), rgba(17, 19, 25, 0.6)),
            url('../../assets/img/bg/prices_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
    position: relative;
}

.bg-card {
 background: linear-gradient(
    186deg,
    rgba(23, 26, 36, 0.6) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}

.bg-card-2 {
background: linear-gradient(
  180deg,
  rgba(9, 11, 19, 0.8) 0%,
  rgba(255, 255, 255, 0.0) 100%
);

}

.bg-secondary {
    background-color: #F7F7F7;
}

.text-secondary {
    color: #9DA4BD99;
}