.header-bg {
  background-image: url('../../assets/img/bg/header_bg_1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
  position: relative;
}

.prices-bg {
  background-image: 
      linear-gradient(rgba(17, 19, 25, 0.6), rgba(17, 19, 25, 0.6)),
      url('../../assets/img/bg/prices_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
  position: relative;
}

.bg-card {
 background: linear-gradient(
    186deg,
    rgba(23, 26, 36, 0.6) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}

.bg-card-2 {
  background: linear-gradient(
    180deg,
    rgba(9, 11, 19, 0.8) 0%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

.bg-primary {
  background-color: #191C26 !important;
}

.bg-footer {
   background-image: 
   linear-gradient(rgba(25, 28, 38, 0.95), rgba(25, 28, 38, 0.95)),
   url('../../assets/img/bg/footer-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
  position: relative;
}

.btn-outline-warning {
  border-color: #FF6C00 !important;
}

.btn-outline-warning:hover {
  background-color: #FF6C00 !important;
}

.link-dark:hover {
  color: #FF6C00 !important;
}

.text-warning {
  color: #FF6C00 !important;
}